snippet forir "for range with index and value"
	for ${1:i}, ${2:v} := range ${3:iterable} {
		${4:// do something with i and v}
	}

snippet forv "for range with value"
	for _, ${1:v} := range ${2:iterable} {
		${3:// do something with v}
	}
